<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>More Fitt Transformations</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <div text-center>
        <p class="last-name"><img src="assets/img/blacklogo-50px.png" align="middle"> <strong>TRANSFORMATIONS</strong></p>
        <p class="header " >More Fitt Transformations allows you to upload a 1 second personal selfie video everyday to track your bodies subtle changes. You will then be able to mash these 1 second videos into a movie that shows your daily transformation.</p>
        
  <button ion-button *ngIf="user" (click)="startrecording()">Create Clip</button> <button ion-button *ngIf="!user" (click)="login()">Login to continue</button>
  <button ion-button *ngIf="user" (click)="makevideo()">Create Transformation</button>
      </div>


  
<h2 *ngIf="mfmins">Transformations</h2>
    <div *ngIf="mfmins">
      <div *ngFor="let mfmin of mfmins" style="width: 100px;height: 150px; float: left; margin-bottom: 50px"  text-center>
          <video src="{{mfmin.url}}"  type="video/mp4" width="150" height="150"></video><br /><button ion-button color="danger" (click)="delMFmin(mfmin.url, mfmin.id)" round small>Delete</button>
      </div>
      <div style="clear: both"></div>
    </div>

<h2 *ngIf="clips">Clips</h2>
    <div *ngIf="clips">
      <div *ngFor="let clip of clips" style="width: 100px;height: 150px; float: left; margin-bottom: 50px"  text-center>
          <video src="{{clip.url}}"  type="video/mp4" width="150" height="150"></video><br />{{clip.date}}<br /><button ion-button color="danger" (click)="delClip(clip.url, clip.id)" round small>Delete</button>
      </div>
      <div style="clear: both"></div>
    </div>

</ion-content>
