<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-title>More Fitt Transformations</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true">
      <div text-center>
        <p class="last-name"><img src="assets/img/blacklogo-50px.png" align="middle"> <strong>TRANSFORMATIONS</strong></p>
        <p class="header " >More Fitt Transformations allows you to upload a 1 second personal selfie video everyday to track your bodies subtle changes. You will then be able to mash these 1 second videos into a movie that shows your daily transformation.</p>
        
  <button ion-button *ngIf="user" (click)="startrecording()">Record Clip</button> <button ion-button *ngIf="!user" (click)="login()">Login to continue</button>
  <button ion-button *ngIf="user" (click)="makevideo()">Create Transformation</button>
      </div>
<p>&nbsp;</p>
  <div *ngIf="mfmins">
    <h2>Transformations</h2>
      <ion-slides pager  slidesPerView="4" >
        <ion-slide *ngFor="let mfmin of mfmins" margin-right text-center>

              <button ion-button (tap)="playVideo(mfmin.url)" round large  outline><ion-icon name="play" ></ion-icon></button>
              <br />{{mfmin.date}}<br />
              <!--button ion-button (tap)="saveVideo(mfmin.url)" round small icon-left><ion-icon name="cloud-download"></ion-icon>Save</button-->
              <button ion-button (tap)="share(mfmin.shortUrl)" round small icon-left><ion-icon name="share"></ion-icon>Share</button>
              <button ion-button color="danger" (tap)="delMFmin(mfmin.url, mfmin.id)" round small icon-left><ion-icon name="trash"></ion-icon>Delete</button>

        </ion-slide>
      </ion-slides>
  </div>
<p>&nbsp;</p>

  <div *ngIf="clips">
    <h2>Clips</h2>
      <ion-slides pager  slidesPerView="4" >

        <ion-slide *ngFor="let clip of clips" margin-right text-center>

                  <button ion-button (tap)="playVideo(clip.url)" round  outline><ion-icon name="play" ></ion-icon></button>
                      <br />{{clip.date}}<br />
                      <!--button ion-button (tap)="saveVideo(clip.url)" round small icon-left><ion-icon name="cloud-download"></ion-icon>Save</button-->
                      <button ion-button (tap)="share(clip.shortUrl)" round small  icon-left><ion-icon name="share"></ion-icon>Share</button>
                    <button ion-button color="danger" (tap)="delClip(clip.url, clip.id)" round small icon-left><ion-icon name="trash"></ion-icon>Delete</button>

        </ion-slide>


      </ion-slides>
    <!--div class="row" style="flex-wrap: wrap;">
      <div class="col" *ngFor="let clip of clips" text-center>
                      
                    
                      <button ion-button (tap)="playVideo(clip.url)" round  outline><ion-icon name="play" ></ion-icon></button>
                      <br />{{clip.date}}<br />
                      <button ion-button (tap)="share(clip.url)" round small  icon-left><ion-icon name="share"></ion-icon>Share</button>
                      <button ion-button (tap)="saveVideo(clip.url)" round small icon-left><ion-icon name="cloud-download"></ion-icon>Download</button>
                    <button ion-button color="danger" (tap)="delClip(clip.url, clip.id)" round small icon-left><ion-icon name="trash"></ion-icon>Delete</button>
        </div>
      </div-->
      
    </div>

</ion-content>
