<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-item *ngIf="user"><p>You are logged in as {{user.email}}</p></ion-item>
  <form (submit)="login()"  *ngIf="!user">
    <ion-list>
        
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN' | translate }}</button>
      </div>

    </ion-list>
  </form>

    <form (submit)="register()" *ngIf="!user">
    <ion-list>


      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'REGISTER' | translate }}</button>
      </div>

    </ion-list>
  </form>

  <form (submit)="logout()" *ngIf="user">
    <ion-list>
      <div padding>
        <button ion-button color="primary" block>{{ 'LOGOUT' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
