

.slide-image {
  width: 100%;
  height: auto;
  margin: 0;
  z-index: -1;
  top: -150px;
  left: 0;
  position: absolute;

}
.tfcard {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.tfcard .item{
  height: 250px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tfcard .name {
  color:#fff;
  text-shadow: 1px 1px 1px #000000;
  font-size: 2em;
  line-height: 1.1;
}
.tfcard a {
  text-decoration: none;
  color: #fff;
}