
.ion-ios-trainer, ,
.ion-md-trainer {
  content: url(../assets/img/phy.png) !important;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.ion-ios-nutrrition, .ion-ios-nutrrition-outline,
.ion-md-nutrrition, .ion-md-nutrrition-outline {
  content: url(../assets/img/fruit.png) !important;
}
.ion-ios-workouts, .ion-ios-workouts-outline,
.ion-md-workouts, .ion-md-workouts-outline {
  content: url(../assets/img/riseup.png) !important;
}
.ion-ios-stopwatch, .ion-ios-stopwatch-outline,
.ion-md-stopwatch, .ion-md-stopwatch-outline {
  color: #FFFFFF !important;
}


 .ion-ios-trainer-outline, .ion-md-trainer-outline {
  content: url(../assets/img/phy.png) !important;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.ion-ios-nutrrition-outline, .ion-md-nutrrition-outline {
  content: url(../assets/img/fruit.png) !important;
}
 .ion-ios-workouts-outline,  .ion-md-workouts-outline {
  content: url(../assets/img/riseup.png) !important;
}
.ion-ios-stopwatch-outline,  .ion-md-stopwatch-outline {
  color: #FFFFFF !important;
}